.todos-list {
  display: grid;
  grid-template-columns: 30% 70%;
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  height: calc(100vh - 200px);
  overflow: hidden
}

.todo-tabs {
  min-height: 100%;
  background-color: rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  gap: 0;
  overflow-x: hidden;
}

.list-item {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
  cursor: pointer;
}

.current-tab {
  border: 1px solid rgb(180, 180, 180);
  background-color: rgb(180, 180, 180);
  /* font-weight: 350; */
}

.todos-list-view {
  min-height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 0;
  overflow: hidden;
}

.todos-display {
  max-height: inherit;
  overflow-x: hidden;
  overflow-y: auto;
}

.header-content {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
  background-color: #00d1b2;
  color: white;
}

ul {
  list-style: none;
  /* width: 90%;
  max-width: 40rem; */
  width: 100%;
  /* margin: 2rem auto; */
  padding: 0;
}

li {
  /* margin: 1rem 0; */
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mark-done-btn {
  background: #00d1b2;
  border: 1px solid #00d1b2;
  color: white;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}

.mark-done-btn:hover, .mark-done-btn:active {
  background: #00d1b2;
  border: 1px solid #00d1b2;
}

.delete-btn {
  background: rgb(146, 17, 23);
  border: 1px solid rgb(146, 17, 23);
  color: white;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}

.delete-btn:hover, .delete-btn:active {
  background: rgb(146, 17, 23);
  border: 1px solid rgb(146, 17, 23);
}
